pipeline/pipeline5.json
{
	"name": "pipeline5",
	"properties": {
		"activities": [
			{
				"name": "Lookup_count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat(\n  'SELECT COUNT(1) AS cnt FROM dbo.test WHERE date >= ''',\n  pipeline().parameters.pstartdate,\n  ''' AND date < ''',\n  pipeline().parameters.pendate,\n  ''''\n)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable3",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup_count",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('Lookup_Count').output.firstRow.cnt), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_test]",
									"storedProcedureParameters": {
										"enddate": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.pendate",
												"type": "Expression"
											}
										},
										"startdate": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.pstartdate",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "qty",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "qty",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "date",
												"type": "DateTime",
												"physicalType": "datetime2"
											},
											"sink": {
												"name": "date",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable3",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "tumbling",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pstartdate": {
				"type": "string"
			},
			"pendate": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-03T18:04:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}